{
  "extends": [
    "eslint:recommended",
    "plugin:import/errors",
    "plugin:import/warnings",
    "prettier",
    "prettier/standard"
  ],
  "plugins": ["import"],
  "parserOptions": {
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2020
  },
  "env": {
    "es6": true,
    "node": true
  }
}
